* {
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
html {
    font-size: 14px;
    font-family: 'Gotham Pro';
    font-weight: 300;
    color: #333333;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: RGBA(248, 249, 250, 1.00);
}


#nav {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    color: white;
    z-index: 9990;
    background: #67AAF9;
}
#nav > div {
    padding: 20px 0;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
#nav .burger  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}
#nav .burger span {
    height: 3px;
    width: 20px;
    background: white;
    border-radius: 0.5px;
    display: inline-block;
}
#nav .reload {
    height: 20px;
    background: white;
    width: 20px;
}

.list {
    position: absolute;
    right: 0;
    background: RGBA(248, 249, 250, 1.00);
    width: 400px;
    top: 60px;
    height: calc(100% - 60px);
    overflow: scroll;
    padding-top: 20px;
    transition: 0.3s ease;
}
.list:not(:first-child) {
    right: -400px;
}
.list.open {
    transform: translateX(-100%);
}
#viewer {
    background: white;
    position: absolute;
    left: 0;
    width: calc(100vw - 400px);
    height: calc(100% - 60px);
    overflow: scroll;
    top: 60px;
}
.list .item {
    /* base: */
    cursor: pointer;
background: #FFFFFF;
box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
border-radius: 6px;
width: 80%;
margin: 10px auto;
position: relative;
}
.list .item p {
    padding: 20px 33px;
    text-decoration: none !important;
}
.list .item .arrow {
    position: absolute;
    right: 33px;

    height: 100%;
width: 30px;
    object-fit: contain;
    top: 0px;
}
.button {
    /* Rectangle 40: */
    padding: 20px 33px;
}
.list .item .button p {
    background: #FFBB41;
    border-radius: 6px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 33px;
    letter-spacing: 0.46px;
}
.list > p:first-child{
width: 80%;
cursor: pointer;

margin: 10px auto;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.item.on-off{
}
.item.on-off p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 33px;
    
}
.item.on p {
   color: RGBA(126, 211, 33, 1.00);
}
.item.off p {
color: RGBA(208, 14, 22, 1.00);
}


* {
    box-sizing: border-box;
  }
  
  .chart-card {
    background: linear-gradient(-45deg, #5555FF, #9787FF);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 300px; */
    /* height: 375px; */
    border-radius: 10px;
    overflow: hidden;
}
  
  /* hide limit values on X axis */
  .chart-card #canvas {
    /* margin-left: -30px; */
    margin-right: -30px;
    width: 100% !important;
}
  
  .chart-card .about {
    height: 125px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .chart-card .about h3,
  .chart-card .about .lead {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  .chart-card .about h3 {
    font-size: 24px;
    color: #fff;
  }
  
  .chart-card .about .lead {
    color: #eee;
  }
  
  .chart-card .info {
    float: left;
    padding: 10px 30px 10px 0;
  }
  
  .chart-card .info p {
    font-size: 11px;
    color: #aaa;
    font-weight: 300;
  }
  
  .legends {
    padding-top: 20px;
    overflow: hidden;
  }
  
  .legend {
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
  }
  
  .legend--this {
    background-color: #5555FF;
  }
  
  .legend--prev {
    background-color: #FF55B8;
  }
  
  .axis {
    position: absolute;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    bottom: 0;
  }
  
  .axis .tick {
    flex: 1;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
  
  .axis .tick::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 170px;
    background: rgba(255, 255, 255, 0.2);
}
  
  .axis .tick .value {
    transform: translateY(-240px);
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    top: 20px;
    left: 0;
    color: #fff;
    border-radius: 2px;
    width: 100%;
    line-height: 20px;
  }
  
  .axis .tick:hover .value.value--this {
    transform: translateY(-160px);
    display: block;
    opacity: 0.4;
  }
  
  .value.value--this {
    color: #fff;
    font-weight: bold;
  }
  
  .day-number {
    display: block;
  }
  
  .day-name {
    display: block;
    opacity: 0.4;
  }
  
  /* Animated background, credits: Manuel Pinto, https://codepen.io/P1N2O/pen/pyBNzX */
  .chart-card {
    background: linear-gradient(-45deg, #5555FF, #9787FF, #FF55B8, #FF8787);
    background-size: 400% 400%;
    height: auto !important;
    width: 80% !important;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    animation: bg 20s infinite;
}
  
  @keyframes bg
  {
    0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
.chart-card-2 {
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    position: relative;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    max-width: 80%;
    margin: auto;
    margin-bottom: 40px;
    height: 375px;
    border-radius: 10px;
    overflow: hidden;
}
  
  .chart-card-2 .about {
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
}
  
  .chart-card-2 .about h3,
  .chart-card-2 .about .lead {
    font-weight: 300;
    margin: 0;
  }
  
  .chart-card-2 .about h3 {
    font-size: 24px;
  }
  
  .chart-card-2 .about .lead {
    color: #aaa;
  }
  .close {
      height: 20px;
      width: 20px;
      text-align: right;
      margin-top: 10px;
      padding-right: 20px;
  }
.close span {
    height: 2px;
    width: 25px;
    position: absolute;
    transform: rotate(45deg); 
    background: black;
    display: inline-block;
}
.close span:last-child {
transform: rotate(-45deg); 
}
  #tooltip-canvas {
    position: absolute;
    top: 150px;
    left: 25%;
  }
  
  .btn-reload {
    position: absolute;
    top: 330px;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  
  .btn-reload:hover {
    opacity: 1;
  }
  
  
  
.modal {
    position: fixed;
    z-index: 9999;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(255,255,255,0.9); 
}
.modal.open {
    opacity: 1;
    visibility: visible;
}
.modal > * {
    background: white;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 20px;
    
    
}
.modal > * > * {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.modal input[type=text]
{
    padding: 10px 20px;
    font-size: 14px;
}
.modal select {
    font-size: 14px;
    padding: 10px 20px;
}
.modal input[type=submit]
{
    padding: 10px 20px;
    font-size: 14px;
    -webkit-appearance: none;
    border: 0;
    background: RGBA(64, 149, 252, 1.00);
    color: white ;
    font-weight: 600;
    letter-spacing: 0.6px;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    .list {
        position: absolute;
        right: 0;
        width: 100vw;
        overflow: scroll;
        height: 50%;
        top: calc(40% + 60px);
        padding-top: 10px;
}
    .list:not(:first-child) {
    right: -100vw;
}
.list.open {
    transform: translateX(-100vw);
}
    #viewer {
        background: white;
        position: absolute;
        left: 0;
        width: 100vw;
        height: 40%;
        top: 60px;
    }
}